<div class="container" style="margin-top: 6.5rem;margin-left: 28rem;">
    <h3 style="color :#3DCFD3;margin-left: -3rem;">{{sign.firstName}}</h3>
    <h1 style="color: #3DCFD3;"><span style="color :white">Your</span> Order</h1>
    <h4 style="color:white"> have been cooking</h4>
    <h4 style="color: white;">It will be ready and delivered to the address</h4>
    <h3 style="color:#3DCFD3">{{sign.address}}</h3> <h4 style="color: white;">in 30 min</h4>
    <h4 style="color: #3DCFD3;"><span style="color:white">Contact detail :-</span>{{sign.mobile}}</h4>
    <h2 style="color:#3DCFD3;margin-top: 3rem;">Thank's For Order</h2>
</div>
