
  <div class="row gutters-sm" style="margin-top: 8rem;margin-left: 8rem;">
    <div class="col-md-4 mb-3">
      <div class="card border border-info" style="background-color: black;">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img [src]="sign.image" alt="Admin" class="rounded-circle" width="150">
            <div class="mt-3">
              <h4  style="color:#3DCFD3" >{{sign.firstName}}</h4>
              <h6 class="text-muted font-size-sm" style="color:white">{{sign.address}}</h6>
              <button class="btn btn-primary" (click)="updatepage()"><h5>Update</h5></button>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-8" style="margin-left: 150%;margin-top: -21rem;width: 100%;">
      <div class="card mb-3 border border-info" style="background-color: black;">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0" style="color:#3DCFD3">Name</h6>
            </div>
            <div class="col-sm-9 text-secondary" >
             <span style="color:white">{{sign.firstName}} {{sign.lastName}}</span> 
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0" style="color:#3DCFD3">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
             <span style="color:white">{{sign.emailAddress}}</span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0" style="color:#3DCFD3">Phone</h6>
            </div>
            <div class="col-sm-9 text-secondary" >
             <span style="color:white">{{sign.mobile}}</span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0" style="color:#3DCFD3">Mobile</h6>
            </div>
            <div class="col-sm-9 text-secondary" style="color:white">
              <span style="color:white">   {{sign.mobile}}</span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3" style="color:#3DCFD3">
              <h6 class="mb-0">Address</h6>
            </div>
            <div class="col-sm-9 text-secondary" >
             <span style="color:white">{{sign.address}}</span>
            </div>
          </div>
          <hr>
        </div>
      </div>