.text{
    margin-top: -30%;
    color: #3DCFD3;
    margin-left: 25%;
}
.text1{
    margin-top: 3%;
    color: white;
    margin-left: 30%;
}
.text2{
    margin-top: 3%;
    color: #3DCFD3;
    margin-left: 40%;
}
.text3{
    margin-top: 3%;
    color: white;
    margin-left: 30%;
}