<!-- <div class="row">
    <br>
    <h2 style="padding-left:50px;margin-top: 30px;">Catageory</h2>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <table  width="100%">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                <th>Quantity</th>
            </tr>
            <tr *ngFor="let ds of dish">
                <td>{{ds.name}}</td>
                <td>{{ds.price}}</td>
                <td>{{ds.description}}</td>
                <-- <td>{{ds.image}}</td>
                <-- <td><input type="text" placeholder="Quantity" value="1" #input></td>
                <td>
                    <button class="btn btn-primary" (click)="Cart(ds,input.value)" >Add To Cart</button>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary" (click)="gocart()" >Go To Cart</button>
    </div>
</div> -->


<div class="row">
    <br>
    <h2 style="padding-left: 50px;color:white;margin-top: 2%;">Catageory <span style="color:#3DCFD3">List</span></h2>
</div>


<div class="row">
    <div class="col-md-3" *ngFor="let ds of dish">
        <div class="card border border-info" style="width:150px;background-color: black;margin-left: 25%;height:230px;margin-top: 2rem;">
            <div class="card-body" style="margin-top: -10%;" >
                <h4 class="card-title" style="color: #3DCFD3;">{{ds.name}}</h4>
                <img [src]="ds.image" width="120" height="150" >
                <p class="card-text" style="color:white ;margin-left: 2rem;margin-top: 0.5rem;">{{ds.price | currency :'INR'}}</p>
                <div class="col-md-1">
                    <input  type="text"  value="1" #input style="width:4rem;margin-top: 0.2rem;margin-left: 1.5rem;">
                </div>
                <div>
                    <button *ngIf="usr.isLogin" class="btn btn-primary" (click)="Cart(ds,input.value)" >Order</button>
                </div>
                <div>
                    <button *ngIf="usr.isadmin" class="btn btn-primary" (click)="delete(ds.id)" >Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button class="btn btn-primaryy" (click)="gocart()" ><h6>Go To Cart</h6></button>
</div>